html {box-sizing: border-box;}
*, *:before, *:after {box-sizing:inherit;}

body {
    font-family: 'helvetica', sans-serif;
    font-weight: 400;
    color: #ca8753;
    background-color: ;
    max-width: 1600px;
    margin: 0 auto;
}

.header {
    overflow: hidden;
    padding: 20px 10px;
}

.header a {
    float: left;
    padding: 1px;
    max-width: 100%;
    padding-left: 20px;
}

.header-right {
    float: right;
    padding-top: 10px;
    font-family: 'Vidaloka', serif;
}

.header-right a {
    padding: 20px;
    font-size: 30px;
    text-decoration: none;
    color: #ca8753;
}

.header-right a:hover {
    color:#fefae0;
}

h1 {
    font-family: 'Vidaloka', serif;
    font-size: 100px;
    padding-top: 5%;
}

h2{
    font-family: 'League Script', cursive;
    font-size: 80px;
    color: #fefae0;
    margin-top: -15%;
}

.front:before {
    background-color: black;
    content: "";
    display: inline-block;
    height: 4px;
    position: relative;
    vertical-align: middle;
    width: 190px;
    right: 0em;
    margin-left: -200px;
}

.back:after {
    background-color: black;
    content: "";
    display: inline-block;
    height: 4px;
    position: relative;
    vertical-align: middle;
    width: 265px;
    right: 0em;
    margin-right: -110px;
}


img {
    max-width: 100%;
    padding: 10%;
    align-content: center;
    position: relative;
    z-index: 1;
}


p {font-size: 30px;
    color: black;
    max-width: 70%;
    margin-top: -10%;
}


.row1 {
    display: flex;
    background-color: #e6ccb2;
    margin-top: -50px;
}


.col1 {
    float: left;
    width: 50%;
    margin-left: 5%;
}

.col2 {
    float: right;
    width: 50%;
    margin-right: 5%;
    margin-left: -5%;
}

.row2 {
    display: flex;
    background-color: #fefae0;
}

.white {
    color: #ddb892;
}

.row3 {
    display: flex;
}

.center {
    text-align: center;
    overflow: hidden;
    margin-top: -8%
}

.center:before, .center:after {
    background-color: black;
    content: "";
    display: inline-block;
    height: 4px;
    position: relative;
    vertical-align: middle;
    width: 350px;
}

.center:before {
    right: 0em;
    margin-left: -40%;
}

.center:after {
    left: 0em;
    margin-right: -40%;
}

.column1 {
    flex: 33.33%;
    margin-top: -5%;
}

.container {
    background-color: #e6ccb2;
}

h3 {
    font-size: 30px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 5%
}

.q1 {
    text-align: center;
    margin-top: 2%;
    font-size: 40px;
    margin-left: 20%;
    padding-bottom: 5%;
    
}

.row4 {
    display: flex;
    background-color: #fefae0;
    margin-top: -5%;
}

.row4 p {
    max-width: 90%
}

.blm {
    color: #ca8753;
    font-style: italic;
    font-weight: 600;
    text-decoration: none;
}

.blm:hover {
    color: #b7b7a4;
}


@media (max-width: 1550px) {
    .header-right a {font-size: 30px;}
    
    h1 {font-size: 90px;}
    
    h2 {font-size: 70px;}
    
    img {margin: -15px;}
    
    p {font-size: 30px;}
    
    .front:before, .back:after {display: none;}
    
    .row4 img {margin-left: 5%}
    
    .center:before, .center:after {width: 20%;}
    
    h3 {font-size: 25px;}
    
    .q1 {
        font-size: 30px;
        margin-top: -15px;
        }
    .row2 p{max-width: 90%}
    
    .row1 p {max-width: 90%}
}

@media (max-width: 1200px) {
    h1 {font-size: 75px;}
    
     h2 {font-size: 55px;}
}


@media (max-width: 1000px) {
    .header-right a {font-size: 25px;}
    
    h1 {font-size: 60px;}
    
    h2 {font-size: 45px;}
    
    .front:before {display: none;}
    
    .back:after {display: none;}
    
    img {margin: -15px;}
    
    p {font-size: 20px;}
    
    .row4 img {margin-left: 5%}
    
    .center:before, .center:after {width: 20%;}
    
    h3 {font-size: 25px;}
    
    .q1 {
        font-size: 30px;
        margin-top: -15px;
        }
    .row2 p{max-width: 90%}
    
    .row1 p {max-width: 90%}
}

@media (max-width: 768px) {
    
    [class*="col-"] {width: 100%;}
    
    .header-right a {font-size: 18px;}
    
    h1 {font-size: 40px;}
    
    h2 {font-size: 30px;
        margin-top: -45px;
    }
    
    .front:before {display: none;}
    
    .back:after {display: none;}
    
    img {margin: -15px;}
    
    p {font-size: 15px;}
    
    .center:before, .center:after {width: 200px;}
    
    h3 {font-size: 25px;}
    
    .q1 {
        font-size: 30px;
        margin-top: -15px;
        }
}




















